footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: grey;
    color: whitesmoke;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
  
}

